@import url(https://bootswatch.com/5/cerulean/bootstrap.min.css);
$light : #e9ecef;

@mixin flex-around{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

body{
    background-color: $light;
    //margin: 50px 150px;
}
a{
    text-decoration: none;
    color: $light;
}
main{
    margin: 50px 150px;
}
h1{
    text-align: center;
}
.action{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
// nav{
//     @include flex-around;
//     li{
//         list-style: none;
//         text-decoration:none;
//         a{
//             text-decoration:none;
//             list-style: none;
//         }
//     }
// }
/*p{
    margin: 20px 100px;
}*/