@mixin flex-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flex-around{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}